<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.js.home.board.qna.QnaMapper">

	<select id="getQnaList" resultType="QnaVO" parameterType="Pager">
<!-- 		SELECT * FROM QNA ORDER BY NUM DESC -->
<!-- 		SELECT * FROM QNA ORDER BY NUM DESC LIMIT #{page}, 10 -->
		 SELECT * FROM QNA ORDER BY NUM DESC LIMIT #{startRow}, #{perPage}
	</select>
	
	<insert id="setQnaAdd" parameterType="QnaVO">
		INSERT INTO QNA VALUES (null, #{writer}, #{title}, #{contents}, 0, SYSDATE(), 0, 0, 0)
	</insert>
</mapper>